@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background: #e3d6c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #e3dcc9;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
    height: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
/* ===============shadow============= */
/* .shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
shadow:hover .about-img{
    transform: translateX(-10px);
}
.shadow:hover::after{
    opacity: 1;
} */


.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #FFF;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons {
    /* background: #FFF; */
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #000;
    color: #FFF
}
.about-right{
    background: #FFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 3.5rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color:#e3d6c9;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 300px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    top: 100px;
}
.btn.btn-white{
    justify-content: center;
    align-items: center;
    background: #FFF;
    color:#000;
    border-color: #000;
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #e3d6c9;
    border-color: #e3d6c9;
    color: #fff;
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color:#FFF; 
    text-decoration:none; 
    cursor:pointer;
}
.quot {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
.name {
    text-transform: uppercase;
}
.wm{
    color: #000;
    cursor: pointer;
}